html{
    font-family: 'Fruktur', cursive;
font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: aliceblue;
}

header{
    background-color: rgb(124, 76, 124);
    color: beige;
    padding: 3rem 2rem;
}

header h1{
    font-size: 4rem;
    text-align: center;

}

.container{
    width: 400px;
    margin: 0 auto;
}

section{
    background-color: rgb(177, 151, 180);
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
}

section:hover {
    transition: box-shadow 0.3s ease-in;
    box-shadow: 0 0.1rem 0.4rem rgb(145, 125, 177);
    cursor: pointer;
}

h2, h3, h4, p {
    margin: 1rem;
}

section{
    margin: 1rem;
}